/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Roboto';
  font-stretch: normal;
  font-style: normal;
  font-weight: normal;
  src: url('/assets/Roboto-Regular.woff') format('woff');
}

body {
  margin: 0;
  font-family: Roboto;
  color: white;
}

h1 {
  margin: 0;
}

button {
  padding: 0.75em;
  margin: 0.75em;
  font-size: larger;
  border-radius: 4px;
  border: 1px solid black;
  background-color: white;
}
